	body {
	background-image: url("mojehobbby.jpg") ;
	background-size: 100%;
	font-family: sans-serif;
	color: white;
	}
	.tytul {
	background-color: rgba( 255, 0, 0, 0.9);
	text-align: center;
	color: rgba( 255, 255, 0, 1);
	border-style: ridge;
	border: 5px solid black;
	}
	.tekst {
	background-color: rgba( 255, 160, 160, 0.9);
	color: rgba( 0, 0, 0, 1);
	border-style: ridge;
	border: 5px solid black;
	 font-size: 20px
	}
	.zr {
		 line-height: 0px;
		 }
	.naglowek {
		background-color: rgba( 255, 100, 100, 0.9);
		text-align: center;
		color: rgba( 0, 0, 150, 1);
		border-style: ridge;
		border: 5px solid black;
		 }
		