	body {
	background-image: url("alnassr.img") ;
	background-size: 100%;
	font-family: sans-serif;
	color: white;
	}
	.tytul {
	background-color: rgba( 100, 255, 0, 0.9);
	text-align: center;
	color: rgba( 0, 0, 255, 1);
	border-style: ridge;
	border: 5px solid black;
	}
	.tekst {
	background-color: rgba( 100, 255, 0, 0.9);
	color: rgba( 0, 0, 255, 1);
	border-style: ridge;
	border: 5px solid black;
	 font-size: 20px
	}
	.zr {
		 line-height: 0px;
		 }